body {
    font-family: "Trebuchet MS", sans-serif;
    background-color: #f1fff7;
    color: #204c37;
    padding: 30px;
  }
  
  h1 {
    color: #187b4d;
  }
  
  a {
    text-decoration: none;
    color: #187b4d;
  }
  
  a:hover {
    text-decoration: underline;
  }
  